.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}
.logo {
  width: auto;
  height: auto;
}
.left_nav {
  gap: 3.5rem;
  display: flex;
  align-items: center;
}
.right_nav {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.container .nav_items a:not(:last-child)::after {
  content: "·";
  color: #c2c3c6;
  margin: 0 1.3em;
}
.apply_cta {
  border: 1.5px solid var(--color-dark);
  border-radius: 20px;
  padding: 8px;
}
