.container {
  display: flex;
  justify-content: center;
  background-color: #f8faf7;
  padding: 7rem 0;
  gap: 5.5rem;
  align-items: center;
}
.container img {
  max-width: 550px;
  height: auto;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.sub_title {
  font-size: 1.1rem;
  line-height: 30px;
  max-width: 30rem;
  color: #344425;
  max-width: 30rem;
}
