.container {
  background-color: #f8faf7;
  padding: 8rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title {
  font-size: 3.1rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 60px;
  width: 91%;
}
.bottom {
  display: flex;
  gap: 5.6rem;
}
.bottom h3 {
  font-weight: 500;
}
.bottom p {
  color: #6e6d7a;
}
.avatar_stack {
  position: relative;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: -10px;
  border: 2px solid var(--color-white);
}

.avatar:nth-child(1) {
  z-index: 4;
  top: 0;
  left: 0;
}

.avatar:nth-child(2) {
  z-index: 3;
  top: 10px;
  left: 10px;
}

.avatar:nth-child(3) {
  z-index: 2;
  top: 20px;
  left: 20px;
}

.container span.overflow_indicator {
  position: absolute;
  background-color: var(--color-dark);
  border: 2px solid var(--color-white);
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 115px;
}
